<hr />
<div class='templates'>
  <h4>{{localize 'SWADE.Templates.Possible'}}</h4>
  <div class='column-grid three-columns'>
  <div
    class='form-group'
    data-tooltip='{{localize "SWADE.Templates.Small.Long"}}'
  >
    <input
      id='{{item.uuid}}-sbt'
      type='checkbox'
      name='system.templates.small'
      {{checked item.system.templates.small}}
      data-dtype='Boolean'
    />
      <label for='{{item.uuid}}-sbt'>
        {{localize 'SWADE.Templates.Small.Short'}}
      </label>
    </div>
  <div
    class='form-group'
    data-tooltip='{{localize "SWADE.Templates.Medium.Long"}}'
  >
    <input
      id='{{item.uuid}}-mbt'
      type='checkbox'
      name='system.templates.medium'
      {{checked item.system.templates.medium}}
      data-dtype='Boolean'
    />
      <label for='{{item.uuid}}-mbt'>
        {{localize 'SWADE.Templates.Medium.Short'}}
      </label>
    </div>
  <div
    class='form-group'
    data-tooltip='{{localize "SWADE.Templates.Large.Long"}}'
  >
    <input
      id='{{item.uuid}}-lbt'
      type='checkbox'
      name='system.templates.large'
      {{checked item.system.templates.large}}
      data-dtype='Boolean'
    />
      <label for='{{item.uuid}}-lbt'>
        {{localize 'SWADE.Templates.Large.Short'}}
      </label>
    </div>
    <div class='form-group'>
    <input
      id='{{item.uuid}}-cone'
      type='checkbox'
      name='system.templates.cone'
      {{checked item.system.templates.cone}}
      data-dtype='Boolean'
    />
      <label for='{{item.uuid}}-cone'>
        {{localize 'SWADE.Templates.Cone.Short'}}
      </label>
    </div>
    <div class='form-group'>
    <input
      id='{{item.uuid}}-stream'
      type='checkbox'
      name='system.templates.stream'
      {{checked item.system.templates.stream}}
      data-dtype='Boolean'
    />
      <label for='{{item.uuid}}-stream'>
        {{localize 'SWADE.Templates.Stream.Short'}}
      </label>
    </div>
  </div>
</div>
