<section class="{{cssClass}} directory flexcol" id="{{cssId}}" data-tab="{{tabName}}">
    <header class="combat-tracker-header">
        {{#if user.isGM}}
            <nav class="encounters flexrow" aria-label="COMBAT.NavLabel">
                <a class="combat-button combat-create" data-tooltip="COMBAT.Create">
                    <i class="fa-solid fa-plus"></i>
                </a>
                {{#if combatCount}}
                    <a class="combat-button combat-cycle" data-tooltip="COMBAT.EncounterPrevious"
                    {{#if previousId}}data-document-id="{{previousId}}"{{else}}disabled{{/if}}>
                        <i class="fa-solid fa-caret-left"></i>
                    </a>
                    <h4 class="encounter flexcol">
                        <span>{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}</span>
                        <span class="type-label">({{localize typeLabel}})</span>
                    </h4>
                    <a class="combat-button combat-cycle" data-tooltip="COMBAT.EncounterNext"
                    {{#if nextId}}data-document-id="{{nextId}}"{{else}}disabled{{/if}}>
                        <i class="fa-solid fa-caret-right"></i>
                    </a>
                {{/if}}
                <a class="combat-button combat-control" data-tooltip="COMBAT.Delete" data-control="endCombat" {{#unless combatCount}}disabled{{/unless}}>
                    <i class="fa-solid fa-trash"></i>
                </a>
            </nav>
        {{/if}}

        <div class="encounter-controls flexrow {{#if hasCombat}}combat{{/if}}">
            {{#if combatCount}}
                {{#if combat.round}}
                    <h3 class="encounter-title noborder">
                        {{localize 'COMBAT.Round'}} {{combat.round}}
                        {{#if combat.system.maxRounds}}
                            / {{combat.system.maxRounds}}
                        {{/if}}
                    </h3>
                {{else}}
                    <h3 class="encounter-title noborder">{{localize 'COMBAT.NotStarted'}}</h3>
                {{/if}}
            {{else}}
                <h3 class="encounter-title noborder">{{localize "COMBAT.None"}}</h3>
            {{/if}}

            {{#if user.isGM}}
                <a class="combat-button combat-control" data-tooltip="SWADE.Combat.DealAll" data-control="rollAll" {{disabled (lt turns 1)}}>
                    <i class="fa-solid fa-users"></i>
                </a>
                <a class="combat-button combat-control" data-tooltip="SWADE.Combat.DealNPC" data-control="rollNPC" {{disabled (lt turns 1)}}>
                    <i class="fa-solid fa-users-cog"></i>
                </a>
                <a class="combat-button combat-control" data-tooltip="COMBAT.InitiativeReset" data-control="resetAll" {{disabled (not hasCombat) }}>
                    <i class="fa-solid fa-undo"></i>
                </a>
                <a class="combat-button combat-control" data-tooltip="{{labels.scope}}"
                    data-control="toggleSceneLink" {{disabled (not hasCombat) }}>
                    <i class="fa-solid fa-{{#unless linked}}un{{/unless}}link"></i>
                </a>
                <a class="combat-button combat-control" data-tooltip="SWADE.ActionDeckReset" data-control="resetDeck">
                    <i class="{{cardsIcon}}"></i>
                </a>
                <a class="combat-settings" data-tooltip="COMBAT.Settings" data-control="trackerSettings">
                    <i class="fa-solid fa-cog"></i>
                </a>
            {{/if}}
        </div>
    </header>

    {{#if isDramaticTask}}
        <section class="combat-tracker-header dramatic-task">
                {{#if user.isGM}}
                    <h4 class="token-header">{{localize "SWADE.DramaticTask.Successes"}}: <input type="number" class="max-tokens" name="system.tokens.value" min="0" value="{{combat.system.tokens.value}}"> / {{combat.system.tokens.max}}</h4>
                {{else}}
                    <h4 class="token-header">{{localize "SWADE.DramaticTask.Successes"}}: {{combat.system.tokens.value}} / {{combat.system.tokens.max}}</h4>
                {{/if}}
                <progress value="{{combat.system.tokens.value}}" max="{{combat.system.tokens.max}}"></progress>
        </section>
    {{/if}}

    <ol id="combat-tracker" class="directory-list">
        {{#each turns}}
            {{!-- If combat is at round 0 (i.e., not begun), nest followers under leaders --}}
            {{#unless (and (eq ../round 0) groupId)}}
                <li class="combatant actor directory-item flexrow {{css}}" data-combatant-id="{{id}}">
                    {{> "swade.combatant-details" user=../user combat=../combat}}
                    {{!-- Before initiative is dealt, group followers as a nested list --}}
                    {{#if (eq ../round 0)}}
                        <ol class="subdirectory">
                        {{#with this as |leader|}}
                            {{#each ../turns}}
                                {{#if (eq groupId leader.id)}}
                                    <li class="combatant actor directory-item flexrow {{css}}" data-combatant-id="{{id}}">
                                    {{> "swade.combatant-details" user=../user combat=../combat}}
                                    </li>
                                {{/if}}
                            {{/each}}
                        {{/with}}
                        </ol>
                    {{/if}}
                </li>
            {{/unless}}
        {{/each}}
    </ol>

    <nav id="combat-controls" class="directory-footer flexrow" data-tooltip-direction="UP">
        {{#if hasCombat}}
            {{#if user.isGM}}
                {{#if round}}
                    <a class="combat-control" data-tooltip="COMBAT.RoundPrev" data-control="previousRound"><i class="fa-solid fa-step-backward"></i></a>
                    <a class="combat-control" data-tooltip="COMBAT.TurnPrev" data-control="previousTurn"><i class="fa-solid fa-arrow-left"></i></a>
                    <a class="combat-control center" data-control="endCombat">{{localize 'COMBAT.End'}}</a>
                    <a class="combat-control" data-tooltip="COMBAT.TurnNext" data-control="nextTurn"><i class="fa-solid fa-arrow-right"></i></a>
                    <a class="combat-control" data-tooltip="COMBAT.RoundNext" data-control="nextRound"><i class="fa-solid fa-step-forward"></i></a>
                {{else}}
                    <span class="flexcol">
                        <a class="combat-control" data-control="startCombat">{{localize 'COMBAT.Begin'}}</a>
                        <a class="combat-control" data-control="startSurpriseCombat">{{localize "SWADE.Combat.StartSurpriseRound"}}</a>
                    </span>
                {{/if}}
            {{else if control}}
                <a class="combat-control" data-tooltip="COMBAT.TurnPrev" data-control="previousTurn"><i class="fa-solid fa-arrow-left"></i></a>
                <a class="combat-control center" data-control="nextTurn">{{localize 'COMBAT.TurnEnd'}}</a>
                <a class="combat-control" data-tooltip="COMBAT.TurnNext" data-control="nextTurn"><i class="fa-solid fa-arrow-right"></i></a>
            {{/if}}
        {{/if}}
    </nav>
</section>