.swade.action-card-editor {
  .card-list {
    list-style: none;
  }

  li + li {
    border-top: 1px solid gray;
    margin-top: 3px;
    padding-top: 3px;
  }

  .header {
    display: flex;
    justify-content: space-around;
    h1 {
      flex: 5;
      margin-right: 5px;
    }
    button {
      flex: 1;
    }
  }

  .body {
    max-height: 600px;
    overflow-x: auto;
    padding-right: 3px;
  }

  .card-face {
    cursor: pointer;
    border: none;
    border-radius: 0;
    height: 124px;
    object-fit: contain;
  }

  .card-details {
    flex: 3;
  }
}
