.combat-sidebar.swade {
  .type-label {
    line-height: calc(var(--sidebar-header-height) / 2);
  }
  li.combatant {
    .roll {
      background: url(../../icons/svg/card-hand.svg) no-repeat 50% 50%;
      background-size: 100%;
      &:hover {
        background: url(../../systems/swade/assets/ui/card-hand-gradient.svg)
          no-repeat 50% 50%;
      }
    }
    .token-initiative {
      flex: 0 0 60px;
      border-right-width: 3px;
      border-right-style: solid;
    }
    &.dropTarget {
      background-color: #666;
      .token-name h4 {
        text-shadow: 1px 1px 3px #000;
        font-size: 1.2em;
      }
    }
    ol.subdirectory {
      border-left: none;
      flex-basis: 100%;
    }
  }

  .dramatic-task {
    flex: 0 0;
    padding: 0.25rem;
    .token-header {
      margin: 0;
      border: none;
    }
    .max-tokens {
      width: 3ch;
      text-align: center;
      background-color: var(--color-cool-4);
      color: var(--color-light-3);
    }
    progress[value] {
      appearance: none;
      width: 100%;
      height: 1rem;
      &::-webkit-progress-bar {
        background-color: rgba(0, 0, 0, 0.25);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        border-radius: 3px;
        border: 1px solid var(--color-border-light-tertiary);
      }
      &::-webkit-progress-value {
        background-color: var(--color-warm-1);
        border-radius: 3px;
      }
    }
  }
}
